{
  "parserOptions": {
    "ecmaVersion": 2017,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "max-len": "off"
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "standard"
  ]
}
